/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(207, 65%, 65%);
  --title-color: hsl(207, 4%, 16%);
  --title-color: hsl(204, 20%, 95%);
  --text-color: hsl(207, 4%, 28%);
  --text-color-light: hsl(207, 4%, 56%);
  --bg-light: hsla(204, 11%, 82%, 0.733);
  --body-color: hsl(0, 0%, 97%);
  --container-color: hsl(207, 4%, 95%);
  /* Change the first number */
  /* Blue: 207 - Purple: 250 - Pink: 356 - Teal: 174 */
  --gradient-color: linear-gradient(
    180deg,
    hsla(207, 48%, 72%, 0),
    hsla(207, 65%, 65%, 1)
  );
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Roboto", sans-serif;
  /* --body-font: "Lora", serif; */
  --title-font: "Lora", serif;
  --biggest-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== z index ==========*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.688rem;
  }
}
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.change-theme {
  font-size: 1.2rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color 0.3s;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: hsl(207, 4%, 85%);
  --text-color: hsl(207, 4%, 80%);
  --bg-light: hsla(214, 4%, 35%, 0.733);
  --body-color: hsl(207, 4%, 10%);
  --container-color: hsl(207, 4%, 12%);
}

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/
.dark-theme .nav,
.dark-theme .nav__menu,
.dark-theme .scrollup {
  background-color: var(--container-color);
  box-shadow: 0 4px 20px hsla(207, 24%, 8%, 0.4);
  /* box-shadow: 0 4px 20px hsla(207, 30%, 15%, .4); */ /*MINE*/
}

.dark-theme .home__shape-waves,
.dark-theme .home__shape-circle,
.dark-theme .qualification__img,
.dark-theme .testimonial__img {
  filter: invert(1);
}

.dark-theme .home__social-link {
  color: var(--title-color);
}

.dark-theme .section__border {
  border-bottom: 1px solid hsl(207, 4%, 32%);
}

.dark-theme::-webkit-scrollbar {
  background-color: hsl(207, 4%, 15%);
}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsl(207, 4%, 25%);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(207, 4%, 35%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
/* .container {
  max-width: 1124px;
  margin-inline: 1.5rem;
  background-color: red;
} */

.container {
  max-width: 1124px;
  margin-inline: 1.5rem;
  /* background-color: red; */
  background-image: url("../../../../public/card.png"); /* Correctly referencing the image */
  background-size: cover; /* This ensures the image covers the container */
  background-position: center; /* This centers the image */
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 2.5rem;
}

.section__border {
  border-bottom: 1px solid var(--title-color);
  padding-bottom: 3.5rem;
}

.section__title,
.section__subtitle,
.section__subtitle-2 {
  text-align: center;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 0.25rem;
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-bottom: 3rem;
}

.section__subtitle-2 {
  display: block;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-bottom: 2rem;
}

.main {
  overflow: hidden; /* For animation */
}

/*=============== HOME ===============*/
.home__container {
  row-gap: 4rem;
}

.home__data {
  row-gap: 1.5rem;
}

.home__title {
  position: relative;
  text-align: center;
  font-size: var(--biggest-font-size);
  letter-spacing: 0.3px;
  margin-bottom: 0.5rem;
}

.home__blob {
  position: relative;
  width: 200px;
  height: 290px;
  background-color: var(--body-color);
  border: 2px solid var(--text-color-light);
  justify-self: center;
  border-radius: 6.25rem;
  place-items: center;
  transition: background 0.4s; /* for dark mode animation */
}

.home__perfil {
  position: relative;
  width: 170px;
  height: 260px;
  background: var(--gradient-color);
  border-radius: 5.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.home__perfil img {
  position: absolute;
  bottom: -25px;
  width: 90%;
  height: 100%;
  /* background: red; */
}

.home__shape-waves,
.home__shape-circle {
  position: absolute;
  opacity: 0.1;
}

.home__shape-waves {
  width: 50px;
  left: -1.5rem;
  top: 5rem;
}

.home__shape-circle {
  width: 150px;
  bottom: -2rem;
  right: -3rem;
  transform: rotate(15deg);
  z-index: -1;
}

.home__social {
  justify-self: center;
  display: flex;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}

.home__social-link {
  font-size: 1.25rem;
  color: var(--text-color-light);
  transition: color 0.3s;
}

.home__social-link:hover {
  color: var(--text-color);
}

.home__info {
  display: grid;
  row-gap: 2rem;
}

.home__info-title {
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: 400;
  color: var(--text-color-light);
  margin-bottom: 1rem;
}

.home__info-description,
.home__info-number {
  font-family: var(--bodys-font);
  color: var(--title-color);
}

.home__info-description {
  padding-right: 4rem;
  line-height: 25px;
}

.home__info-number {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--body-color);
  box-shadow: 0 4px 12px hsla(207, 24%, 35%, 0.15);
  display: inline-flex;
  padding: 0.35rem;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  color: var(--title-color);
  z-index: var(--z-tooltip);
  transition: bottom 0.3s, transform 0.3s;
}

.scrollup:hover {
  transform: translateY(-0.25rem);
}

.show-scroll {
  bottom: 7rem;
}

/* Show Scroll Up*/
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }
}
@media screen and (min-width: 767px) {
  .home__container {
    grid-template-columns: 1fr 2fr 1fr;
  }
  .home__data {
    order: 2;
  }
  .home__info:nth-child(3) {
    order: 3;
    text-align: right;
  }
  .home__info {
    margin-top: 10rem;
  }
  .home__info-description {
    padding-right: 0;
  }
}
/* For large devices */
@media screen and (min-width: 1023px) {
  .header {
    top: 0;
    bottom: initial;
    background-color: var(--body-color);
    transition: 0.4s;
  }
  .dark-theme .nav,
  .dark-theme .nav__menu {
    background-color: var(--body-color);
    box-shadow: none;
  }
  .change-theme {
    color: var(--text-color-light);
  }
  .change-theme:hover {
    color: var(--text-color);
  }
  .section {
    padding-block: 4rem 0;
  }
  .home__title {
    font-size: 2.25rem;
  }
  .scrollup {
    right: 3rem;
  }
  .show-scroll {
    bottom: 5rem;
  }
  /* Change background header */
  .bg-header {
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
  }
  .dark-theme .bg-header {
    box-shadow: 0 6px 24px hsla(205, 55%, 7%, 0.6);
  }
}
@media screen and (min-width: 1048px) {
  .container {
    margin-inline: auto;
  }
}
@media screen and (min-width: 1200px) {
  .home__title {
    font-size: var(--biggest-font-size);
  }
  .home__blob {
    width: 400px;
    height: 580px;
    border-radius: 12.5rem;
  }
  .home__perfil {
    width: 340px;
    height: 520px;
    border-radius: 10.6rem;
  }
  .home__perfil img {
    width: 300px;
  }
  .home__container {
    padding-top: 0; /*MINE*/
  }
  .home__shape-waves {
    width: 100px;
    left: -4rem;
    top: 10rem;
  }
  .home__shape-circle {
    width: 250px;
    bottom: -1rem;
    right: -5rem;
  }
  .home__data {
    row-gap: 2.5rem;
  }
  .home__social {
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
  .home__social-link {
    font-size: 1.5rem;
  }
  .home__info {
    grid-template-rows: repeat(3, 130px);
    row-gap: 3rem; /*MIne*/
    /* row-gap: 4rem; */
    margin-top: 16rem;
  }
} /*# sourceMappingURL=styles.css.map */
